<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pluralsightfuncsjhon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b795dcd-18cd-4288-b883-f3160e311462/resourceGroups/pluralsightfuncs/providers/Microsoft.Web/sites/pluralsightfuncsjhon</ResourceId>
    <UserName>$pluralsightfuncsjhon</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pluralsightfuncsjhon.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>